# Environment variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
.env
# Backend
policy-pal-backend/__pycache__/
policy-pal-backend/policy_pal/__pycache__/
policy-pal-backend/*.pyc
policy-pal-backend/*.pyo
policy-pal-backend/*.pyd
policy-pal-backend/.pytest_cache/
policy-pal-backend/venv/
policy-pal-backend/.venv/

# Frontend
frontend/policypal/.next/
frontend/policypal/node_modules/
frontend/policypal/.turbo
frontend/policypal/out/
frontend/policypal/build/
frontend/policypal/dist/
frontend/policypal/coverage/

# Logs
frontend/policypal/npm-debug.log*
frontend/policypal/yarn-debug.log*
frontend/policypal/yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*/.DS_Store